* {
    position: relative;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 10em;
}

#logo {
    width: 300px;
}

#search {
    display: flex;
    flex-direction: column;
    top: 15px;
}

#search-bar {
    left: 5px;
    width: 400px;
    height: 35px;
    border-radius: 75px 75px 75px 75px;
    border: 1px solid rgba(99, 99, 99, 0.35);
    padding-left: 15px;
    padding-right: 40px;
    font-size: 15px;
}

#search-bar:focus {
    outline: none;
    box-shadow: 2px 2px 2px rgba(156, 156, 156, 0.5);
}

#search-bar:hover {
    box-shadow: 2px 2px 2px rgba(156, 156, 156, 0.5);
}

#magnifying-glass {
    width: 20px;
    left: 210px;
    bottom: 15px;
    opacity: 50%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: -160PX;
    right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

a:link {
    color:rgba(22, 22, 22, 0.6);
    opacity: 80%;
    text-decoration: none;
}

.space-dividers {
    width: 15px;
}

#profile-pic {
    width: 40px;
    border-radius: 50%;
    border: 2px solid rgba(22, 22, 22, 0.6);
    
}

.navbar {
    top: 15px;
}
